body {
  background-color: #202F1F;
  color: #c4a000;
  width: auto;
  height: auto;
}

video {
  height: 360px;
  width: 640px;
  margin: 0 0;
}

#playlist {
  width: 200px;
  height: auto;
  font-size: 11pt;
  font-family: Helvetica, Trebuchet, Verdana, sans-serif;
  text-shadow: #000 1px 1px 1px;
  background-color: transparent;
  text-align: left;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#playlist li,
#playlist ul li {
  background-image: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#playlist li a {
  color: goldenrod;
  background-color: transparent;
  padding: 7px 5px;
  display: block;
  padding-left: 2px;
  text-decoration: none;
}

#playlist li a:hover {
  font-weight: bold;
  color: green;
  text-decoration: none;
}

#playlist .active a {
  color: #ccc;
  font-size: 12pt;
  font-weight: bold;
  font-style: italic;
}

#playlist .active a:before {
  content: "\25B6";
  color: #ccc;
  font-style: normal;
  padding-right: 8px;
}

input.customSearch {
  outline: none;
}

input.customSearch[type=search] {
  text-shadow: #
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
  margin-left: 10px;
  margin-top: 10px;
  background-color: transparent;
  color: #c4a000;
  border: 2px solid #c4a000;
  padding: 4px 3px 4px 32px;
  width: 150px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

input.customSearch[type=search]:focus {
  width: 280px;
  background: #ccc;
  color: #333;
  border: 2px solid #242;

  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}


input.customSearch:-moz-placeholder {
  color: #999;
}

input.customSearch::-webkit-input-placeholder {
  color: #999;
}

#videodiv {
    position: fixed;
    top: 70px;
    left: 350px;
    overflow: auto;
}

#findfield {
    position: fixed;
    top: 10px;
    left: 340px;
    overflow: auto;
}
